
.message-box{
    height: 30vh;
    width: 80vh;
    border: 1px solid black;
    background-color: beige;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    position: absolute;
    opacity: 0.5;
   
}
.close-btn{
    
        width: 32px;
        height:32px;
        cursor: pointer;
    
}